.box_css{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    justify-content: center;
    align-content: center;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    height: 346px;
    width: 1216px;
}

.textContainer{
    display: flex;
    justify-content: center;
    font-size: 35px;
}