.main {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6ca1d2;
}

.shape {
  z-index: 0;
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: 700;
  opacity: 1;
  /* animation: 10s linear fadeOut; */
  transition: opacity 5s linear;
}

.hide {
  opacity: 0;
}

/* @keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */
