.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6CA1D2;
  padding: 10%;
}

.shape {
  z-index: 0;
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: 700;
  opacity: 0;
  animation: fade 10s linear 5s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
