.gen_box{
    font-style: normal;
    font-weight: 500;
}

.top_box{
    width: 1105px !important;
    height: 97px !important;
    margin: auto;

    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    display: flex;

    position: absolute;

    left: 225px;
    top: 76px;
}

.right_box{
    position: absolute;
    height: 346px !important;
    width: 310px !important;
    left: 662px;
    top: 269px;

    background: #FFFFFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    /* display: flex; */
}

.top_text {
    font-size: 40px;
    line-height: 48px;

    margin: auto;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
}

.player_text{
    /* align-self: center; */
    margin: auto;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
    font-size: 40px;
    line-height: 48px;
    display: flex;
}

.right_top_text{
    position: absolute;
    left: 30px;
    top: 10px;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
    font-size: 40px;
    line-height: 48px;
}
.right_sub_text{
    margin: auto;
    border-radius: 10px;
    align-items:center;
    justify-content:center;
    position: absolute;
    left: 40px;
    top: 120px;
    font-size: 60px;
}

.button{
    background: #FFFFFF;
    box-shadow: 0px 15px 0px #BABABA;
    border-radius: 100px;

    width: 12139px !important;
    max-width: 12139px !important;
    height: 710px  !important;
    max-height: 710px  !important;
    position: static;
    left: 662px;
    top: 669px;

    display: flex;

}
